# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
PD/
.env

# Data (do NOT commit user data)
data/uploads/
data/extracted_text/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

